h1, h2, h3 {
	text-align: center;
}

h1 {
	color: #2D3842;
	font-size: 50px;
}

body {
	background-color:  #ffffff;
}

.subBody{
	background-color:  #ffffff;
	font-size: 30px;
	width: 25%; 
	max-width: 100%;
	margin-left: auto; 
	margin-right: auto; 
	text-align:left;
}

@media only screen and (max-width:640px){
	.subBody{
	background-color:  #ffffff;
	font-size: 15px;
	width: 25%; 
	max-width: 100%;
	margin-left: auto; 
	margin-right: auto; 
	text-align:left;
  }
}

@media only screen and (max-width:480px){
	.subBody{
	background-color:  #ffffff;
	font-size: 12px;
	width: 25%; 
	max-width: 100%;
	margin-left: auto; 
	margin-right: auto; 
	text-align:left;
  }
}

.CenterImg {
	display: block;
	margin: 10px auto 20px;
}
